<div class="center jumbotron">
  <h1>3rd Annual Joseph F. O'Brien Memorial Golf Classic to be held June 6, 2015!</h1>
  <br/>
  <br/>

    <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>

<div id="logos-homepage-header">
	<h2>Our JFO Classic 2014 Sponsors:</h2>
</div>

<table class="logos">
	<tr>
		<td class="logo-image">
			<%= link_to image_tag("Budget-Maintenance.jpg", :alt => "budget-maintenance", :style => "width: 150px; height: 180px; display:inline-block;"), "http://www.budgetmaintenance.com" %>
		</td>
		<td>
			<span class="logo-text">The Cali Family</span>
		<td/>
		<td class="logo-image">
			<%= link_to image_tag("StortiDocumentlogo.png", :alt => "storti insurance logo", :style => "width: 100px; height: 100px; display:inline-block;"), "http://www.storti-insurance.com" %>
		</td>
		<td class="logo-image">
			<span class="logo-text"><a href="https://plus.google.com/101548607203125381316/about?gl=us&hl=en">The Ridge Restaurant</a></span>
		</td>
		<td class="logo-image">
			<%= image_tag("ato_letters.jpg", :alt => "alpha tao omega letters", :style => "width: 120px; height: 120px;") %>
		</td>
		<td class="logo-image">
			<%= image_tag("skf_logo.png", :alt => "SKF Company Logo", :style => "width: 120px; height: 50px;") %>
		</td>
	</tr>
</table>