<header class="navbar navbar-fixed-top navbar-inverse top-margin">
  <div class="container">
    <nav>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!--<span><%= link_to image_tag("jfo_logo_nowords.jpeg", :alt => "JFO Logo", :style => "width: 60px; height: 60px;"), "http://www.storti-insurance.com" %></span>-->
    <a class="navbar-brand"><%= link_to "JFO Memorial Foundation", root_path, id: "logo" %></a>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <!--<li><%= link_to "Home",    root_path %></li>-->
          <li><%= link_to "Who We Are", about_path %></li>
          <li><%= link_to "Our Blog", 'http://blog.jfomf.org' %></li>
          <!--<li><%= link_to "Joe Cool",    joecool_path %></li>-->
          <!--<li><%= link_to "Log in", '404.html' %></li>-->
          <li><%= link_to "Sponsor Us", sponsors_path %></li>
          <li><%= link_to "Register", signup_path %></li>
          <!--<li id="raffle"><%= link_to "MARCH RAFFLE", raffle_path %></li>-->
      </ul>
      </div>
    </nav>
  </div>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>
