<header class="navbar navbar-fixed-top navbar-inverse top-margin">
  <div class="container">
    <%= link_to "JFO Memorial Foundation", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Blog",    blog_path %></li>
        <!--<li><%= link_to "Joe Cool",    joecool_path %></li>
        <!--<li><%= link_to "Log in", '404.html' %></li>-->
        <li><%= link_to "Sponsor Us", sponsors_path %></li>
      </ul>
    </nav>
  </div>
</header>