<div id="logos-homepage-header">
	<h2>JFO Classic 2015 Sponsors:</h2> 
</div>

<ul class="list-inline center"> |
		<li>
			<%= link_to image_tag("budget.png", :alt => "budget-maintenance"), "http://www.budgetmaintenance.com" %>
		</li> |
		<li>
			<%= link_to image_tag("StortiDocumentlogo.png", :alt => "storti insurance logo", :style => "width: 60px; height: 60px;"), "http://www.storti-insurance.com" %>
		</li> |
		<!--</div>-->
		<!--<div class="list-inline center">-->
		<li>
			<%= link_to image_tag("ato_letters.jpg", :alt => "alpha tao omega letters"), "https://www.linkedin.com/groups/Alpha-Tau-Omega-Theta-Chi-143363/about" %>
		</li> |
		<li>
			<div class="logo-text"><a href="http://www.ifopa.org/donate-to-the-ifopa.html">The Cali Family</a></div>
		</li> |
		<li>
			<%= link_to image_tag("skf_logo.png", :alt => "SKF Company Logo", :style => "width: 80px; height: 60px;"), "http://www.skf.com/group/splash/index.html" %>
		</li> |
		<li>
			<%= link_to image_tag("mcmahon.jpg", :alt => "McMahon Plumbing and Heating", :style => "width: 110px; height: 110px;"), "http://www.verabradley.com/" %>
		</li> |
		<li>
			<%= link_to image_tag("Wegmans.jpg", :alt => "Wegmans Logo", :style => "width: 70px; height: 70px;"), "http://www.wegmans.com/webapp/wcs/stores/servlet/HomepageView?storeId=10052&catalogId=10002&langId=-1&clear=true" %>
		</li> |
		<li>
			<%= link_to image_tag("substitoothfairy_logo.jpg", :alt => "Substitooth Fairy Logo", :style => "width: 75px; height: 75px;"), "http://substitoothfairy.com/" %>
		</li> |
		<li>
			<%= link_to image_tag("wwm.jpg", :alt => "Weinstein Wealth Management Logo", :style => "width: 180px; height: 30px;"), "http://www.osskroy.com" %>
		</li> |
</ul>

<ul class="list-inline center"> |
		<li>
			<%= link_to image_tag("osskroy.png", :alt => "OSS/KROY Signs", :style => "width: 80px; height: 60px;"), "http://www.osskroy.com" %>
		</li> |
		<li>
			<%= link_to image_tag("herb.jpeg", :alt => "Herb Real Estate", :style => "width: 80px; height: 65px;"), "http://www.herbrealestate.com" %>
		</li> |
		<!--</div>-->
		<!--<div class="list-inline center">-->
		<li>
			<div class="logo-text"><a href="http://www.yelp.com/biz/north-end-beer-distributors-pottstown">North End Distributors</a></div>
		</li> |
		<li>
			<%= link_to image_tag("puma.png", :alt => "Puma Logo", :style => "width: 110px; height: 90px;"), "http://www.puma.com" %>
		</li> |
		<li>
			<div class="logo-text"><a href="http://www.ifopa.org/donate-to-the-ifopa.html">The Helmick Family</a></div>
		</li> |
		<li>
			<%= link_to image_tag("bww.png", :alt => "Buffalo Wild Wings Logo", :style => "width: 110px; height: 70px;"), "http://www.buffalowildwings.com/" %>
		</li> |
		<li>
			<%= link_to image_tag("bauer.jpg", :alt => "Paul Bauer and Associates - Attorneys At Law - Logo", :style => "width: 100px; height: 40px;"), "http://www.wegmans.com/webapp/wcs/stores/servlet/HomepageView?storeId=10052&catalogId=10002&langId=-1&clear=true" %>
		</li> |
</ul>

<div class="sponsor-btn">
<p><%= link_to "Become a 2015 Sponsor today!", sponsors_path , class: "btn btn-lg btn-primary" %><h2>OR simply</h2>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="RQRQU2LXPJ84U">
<input type="submit" value="Donate" name="submit" title="PayPal - The safer, easier was to pay online!" class="btn btn-success"
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</p>
</div>