<div id="logos-homepage-header">
	<h2>JFO Classic 2014 Sponsors:</h2> 
</div>

<section class="center">
<table class="logos">
	<tr>
		<td class="logo-image">
			<%= link_to image_tag("Budget-Maintenance.jpg", :alt => "budget-maintenance", :style => "width: 100px; height: 130px; display:inline-block;"), "http://www.budgetmaintenance.com" %>
		</td>
		<td>
			<span class="logo-text">The Cali Family</span>
		<td/>
		<td class="logo-image">
			<%= link_to image_tag("StortiDocumentlogo.png", :alt => "storti insurance logo", :style => "width: 50px; height: 50px; display:inline-block;"), "http://www.storti-insurance.com" %>
		</td>
		<td class="logo-image">
			<span class="logo-text"><a href="https://plus.google.com/101548607203125381316/about?gl=us&hl=en">The Ridge Restaurant</a></span>
		</td>
		<td class="logo-image">
			<%= image_tag("ato_letters.jpg", :alt => "alpha tao omega letters", :style => "width: 90px; height: 90px;") %>
		</td>
		<td class="logo-image">
			<%= image_tag("skf_logo.png", :alt => "SKF Company Logo", :style => "width: 90px; height: 20px;") %>
		</td>
		<td class="logo-image">
			<%= image_tag("vera-bradley.png", :alt => "Vera Bradley Logo", :style => "width: 90px; height: 50px;") %>
		</td>
		<td class="logo-image">
			<%= image_tag("Wegmans.jpg", :alt => "Wegmans Logo", :style => "width: 90px; height: 60px;") %>
		</td>
		<td class="logo-image">
			<%= image_tag("substitoothfairy_logo.jpg", :alt => "Substitooth Fairy Logo", :style => "width: 100px; height: 70px;") %>
		</td>
	</tr>
</table>
</section>
<div class="sponsor-btn">
<%= link_to "Become a 2015 Sponsor today!", sponsors_path , class: "btn btn-lg btn-primary" %> 
</div>