<div id="logos-homepage-header">
	<h2>JFO Classic 2014 Sponsors:</h2> 
</div>

<div class="list-inline center">
		<li>
			<%= link_to image_tag("budget.png", :alt => "budget-maintenance", :style => "display:inline-block; margin-left: 100px; margin-right: 5px;"), "http://www.budgetmaintenance.com" %>
		</li>
		<li>
			<div class="logo-text" style="margin-right: 5px;"><a href="http://www.ifopa.org/donate-to-the-ifopa.html">The Cali<br>Family</a></div>
		</li>
		<li>
			<%= link_to image_tag("StortiDocumentlogo.png", :alt => "storti insurance logo", :style => "width: 50px; height: 50px; display:inline-block; margin-right: 5px;"), "http://www.storti-insurance.com" %>
		</li>
		<li>
			<div class="logo-text" style="margin-right: 5px;"><a href="https://plus.google.com/101548607203125381316/about?gl=us&hl=en">The Ridge<br>Restaurant</a></div>
		</li>
		<!--</div>-->
		<!--<div class="list-inline center">-->
		<li>
			<%= link_to image_tag("ato_letters.jpg", :alt => "alpha tao omega letters", :style => "width: 90px; height: 90px; margin-right: 5px;"), "https://www.linkedin.com/groups/Alpha-Tau-Omega-Theta-Chi-143363/about" %>
		</li>
		<li>
			<%= link_to image_tag("skf_logo.png", :alt => "SKF Company Logo", :style => "width: 90px; height: 20px; margin-right: 5px;"), "http://www.skf.com/group/splash/index.html" %>
		</li>
		<li>
			<%= link_to image_tag("vera-bradley.png", :alt => "Vera Bradley Logo", :style => "width: 90px; height: 50px; margin-right: 5px;"), "http://www.verabradley.com/" %>
		</li>
		<li>
			<%= link_to image_tag("Wegmans.jpg", :alt => "Wegmans Logo", :style => "width: 90px; height: 60px; margin-right: 5px;"), "http://www.wegmans.com/webapp/wcs/stores/servlet/HomepageView?storeId=10052&catalogId=10002&langId=-1&clear=true" %>
		</li>
		<li>
			<%= link_to image_tag("substitoothfairy_logo.jpg", :alt => "Substitooth Fairy Logo", :style => "width: 100px; height: 70px; margin-right: 5px;"), "http://substitoothfairy.com/" %>
		</li>
		<li>
			<%= link_to image_tag("carlowseo.png", :alt => "Carlow SEO", :style => "width: 60%; height: 60%; margin-left: -100px;"), "http://carlowseo.com/" %>
		</li>
</section>
</div>

<div class="sponsor-btn">
<p><%= link_to "Become a 2015 Sponsor today!", sponsors_path , class: "btn btn-lg btn-primary" %><h2>OR simply</h2>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="RQRQU2LXPJ84U">
<input type="submit" value="Donate" name="submit" title="PayPal - The safer, easier was to pay online!" class="btn btn-success"
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</p>
</div>