<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.png' %>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
   <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PQBGLC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PQBGLC');</script>
<!-- End Google Tag Manager -->
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <!--<div id="sidebar">
       <div id="logo">
        <%= link_to root_path do %>
        <%= image_tag "jfo_logo_nowords.jpeg" %>
        <% end %>
       </div>

       <ul>
        <li class="category">Website</li>
        <li><%= link_to "Blog", blog_path %></li>
        <li>About</li>
       </ul>
      </div>-->

      <%= render 'layouts/footer' %>
  </body>
</html>
